.Recomendation {
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  overflow: auto;
  width: 300px;
}

.Recomendation .img-recipe {
  margin: 10px;
  width: 100px;
}

.Recomendation h3 {
  font-family: sans-serif;
  color: rgb(107, 99, 99);
  font-size: 20px;
  margin: 5px
}